<ion-header>
  <ion-toolbar  color="success">
    <ion-buttons slot="start">
      <ion-back-button color="secondary" defaultHref="/inicio">
      </ion-back-button>
    </ion-buttons>
    <ion-title>CHAT EN LÍNEA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <IonList>
    <IonItem>
      <IonItem>
       <ion-avatar slot ="start">
<ion-img  src="https://picsum.photos/200"></ion-img>
       </ion-avatar>
      <IonLabel>
       <h2> <b>chat de grupo</b></h2>
       <h3> esto es un chat grupal</h3>
       <p>Accede dando click</p>
      </IonLabel>
    </IonItem>
    </IonItem>
  </IonList>
</ion-content>
