<ion-header>
  <ion-toolbar  color="success">
    <ion-buttons slot="start">
      <ion-back-button color="secondary" defaultHref="/inicio">
      </ion-back-button>
    </ion-buttons>
    <ion-title>MENÚ CONSUMIDOR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-avatar >                     
    <img class='avatar' src="assets/imagenes/prod.png">
  </ion-avatar> 
  <ion-list>

    <ion-button size="small" expand="block" type="submit" color="secondary" routerLink="/productos">
      <ion-label>PRODUCTOS</ion-label>
    </ion-button>

  </ion-list>
  
  <ion-avatar >                     
    <img class='avatar' src="assets/imagenes/config.png">
  </ion-avatar> 
  <ion-list>

    <ion-button size="small" expand="block" type="submit" color="secondary" routerLink="/">
      <ion-label>INFORMACIÓN </ion-label>
    </ion-button>
  </ion-list>

</ion-content>

