<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button color="secondary" defaultHref="/home">
      </ion-back-button>
    </ion-buttons>
    <ion-title>INICIO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-avatar >                     
    <img class='avatar' src="assets/imagenes/productor.png">
  </ion-avatar> 
  <ion-button size="small" expand="block" type="submit" color="secondary" routerLink="/productor">
    PRODUCTOR 
  </ion-button>

  <ion-avatar >                     
    <img class='avatar' src="assets/imagenes/consumidor.png">
  </ion-avatar> 
  
  <ion-button size="small" expand="block" type="submit" color="secondary" routerLink="/consumidor">
    CONSUMIDOR 
  </ion-button>

</ion-content>
